.AudioPlayer__progress {
    height: 0.25em;
    transform: scaleY(1);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.AudioPlayer__progress:hover {
    transform: scaleY(2.2);
}

.AudioPlayer__progress--loading {
    cursor: not-allowed;
}
.AudioPlayer__progress--loading:hover {
    transform: scaleY(1);
}